<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <span appChangeText >Welcome to My First {{ title | uppercase}}!</span>
  </h1>
</div>
<div>
  Name : <input type="text" value="">
</div>
<div> Months:
  <select  (change) = "functionChageMonth($event)" name = "month">
  <option *ngFor = "let i of months">
    {{i}}
  </option>
    </select>

</div>
<div>
  <span *ngIf ="isAvailable; then condition1 else condition2"></span>
  <ng-template #condition1>It is valid for test</ng-template>
  <ng-template #condition2>It is not valid for test</ng-template>
</div>
<button (click) = "functionClickMe($event)"> Click Me </button>
<app-new-cmp> </app-new-cmp>
