<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FIlterLoginExample</display-name>
  <servlet>
  <servlet-name>FilterLoginServlet</servlet-name>
  <servlet-class>com.sachin.AdminAction</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FilterLoginServlet</servlet-name>
  <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
  <filter-name>LoginFilter</filter-name>
  <filter-class>com.sachin.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <url-pattern>/login</url-pattern>
  
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
   </welcome-file-list>
</web-app>